@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Handlee&display=swap');

body {
    
    background-color: #330000;
    font-family: 'Alegreya', serif;
}
   h1 , h2
    {
        color:blue; 
    }

    p
    {
        color:darkcyan;
    }

    #my-avatar {
        
        width: 250px;
        border-radius : 50%;
    }

    #content
    {
        text-align: center;
    }

    #my-name {
        font-family: 'Handlee', cursive;
    }