@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Handlee&display=swap');

/*CSS reset*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    position: relative;
}


body {
    
    background-color: #141E61;
    font-family: 'Alegreya', serif;
    color: #EEEEEE ;
}

    #my-avatar {
        
        width: 250px;
        border-radius : 50%;
    }

    #content
    {
        text-align: center;
    }

    #my-name {
        font-family: 'Handlee', cursive;
        color: #787A91;
    }

   #left-side {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
    margin-top: 10px;
   }

   #right-side {
    width: 47%;
    display: inline-block;
    text-align: right;
    margin-right: 1%;
   }

   a {
    color: #EEEEEE;
    text-decoration: none;
    border-bottom: 1px dotted #787A91;
    margin-right: 10px;
   }

   footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;
   }

   footer a:first-child {
    margin-right: 16px;
   }

   #content div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }