body {
    
    background-color:burlywood;
}
   h1 , h2
    {
        color:blue; 
    }

    p
    {
        color:darkcyan;
    }

    #my-avatar {
        
        width: 250px;
        border-radius : 50%;
    }

    #content
    {
        
    }